.grid {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin: auto;

}

.square {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
} 

.square:hover {
    background-color: bisque;
}

.clicked {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
    background-color: bisque;
}

.placedTank {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
    background-color: rgb(211, 13, 129);
    /* transition: 1s; */
}

.placedScout {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
    background-color: rgb(184, 125, 48);
    transition: 1s;
    /* transform: translate(54px, 54px); */
}

.computerTank {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
    background-color: rgb(36, 72, 231);
    /* transition: 1s; */
}

.computerScout {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    margin: 1px;
    border-radius: 3px;
    background-color: rgb(42, 190, 99);
    /* transition: 1s; */
}