@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

#headings {
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  /* background-color: #2196f320; */
  background-image: url(/images/camo.jpg);
  height: 50px;
  width: 540px;
  margin: 10px auto;
  border-radius: 5px;
}

#headingsText {
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 25px;
}

#mainButtonContainer {
  width: 50%;
  margin: 50px auto;
  text-align: center;

  position: fixed;
  top: 250px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: inline;
}

.mainButton {
  padding: 25px;
  background-image: url(/images/camo.jpg);
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 25px;
  display: inline;
}

#howToPlayInstructions {
  position: fixed;
  top: 100px;
  width: 100%;
  margin: auto;
  display: none;
  text-align: center;
}

#instructionsBox {
  color: white;
  background-image: url(/images/camo.jpg);
  text-align: center;
  width: 60%;
  margin: auto;
  /* height: 400px; */
}

#instructions {
  padding: 25px;
}

#instructions p {
  text-align: left;
}

#instructions .endOfInstructions {
  text-align: center;
  font-weight: bold;
}

#exitInstructions {
  padding: 5px 25px;
  background-image: url(/images/camo.jpg);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#menuGame {
  position: fixed;
  top: 15px;
  width: 100%;
  text-align: center;
}

#menuGameButton {
  padding: 5px;
  background-image: url(/images/camo.jpg);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 475px;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: auto;
  /* background-color: #ccffcc; */
  /* background-color: #ccffcc; */
  background-image: url(/images/camo.jpg);
}

.square {
  width: 50px;
  height: 50px;
  /* border: solid white 1px; */
  border: solid #ccffcc 1px;
  /* background-color: #ccffcc; */
  background-color: #ccffcc;
  opacity: 0.3;
  margin: 1px;
  border-radius: 3px;
  /* transition: 0.5s; */
  cursor: "";
}

.nearBy {
  width: 50px;
  height: 50px;
  /* border: solid black 1px; */
  border: solid white 1px;
  /* border: solid #ccffcc 1px; */
  /* background-color: #ccffcc; */
  background-color: white;
  opacity: 0.4;
  margin: 1px;
  border-radius: 3px;
}

/* .square:hover { */
/* width: 50px; */
/* height: 50px; */
/* border: solid white 1px; */
/* border: solid #ccffcc 1px; */
/* background-color: #ccffcc; */
/* margin: 1px; */
/* border-radius: 3px; */
/* transition: 0.5s; */

/* opacity: 0.3; */
/* background-color: #ccffcc; */

/* border: solid white 1px; */
/* } */

.clicked {
  width: 50px;
  height: 50px;
  border: solid black 1px;
  margin: 1px;
  border-radius: 3px;
  background-color: bisque;
}

.placedTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  /* transition: 0.5s; */
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
}

.placedScout {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  /* transition: 0.5s; */
  /* transform: translate(54px, 54px); */
}

.computerTank {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(0, 128, 255);
  /* transition: 0.5s; */
  cursor: "";
}

.computerScout {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  /* transition: 0.5s; */
}

.explosionHit {
  opacity: 1;
  background: url(images/explosion.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  width: 51px;
  height: 51px;
  border: solid white 0px;
  /* border: solid #ccffcc 1px; */
}

.explosionHitPlayerUnits {
  opacity: 1;
  background: url(images/explosion.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  width: 51px;
  height: 51px;
  border: solid white 0px;
  /* border: solid #ccffcc 1px; */
}

.explosionMiss {
  opacity: 1;
  background: url(images/explosion.png);
  background-size: contain;
  /* background-color: #ccffcc; */
  width: 51px;
  height: 51px;
  border: solid white 0px;

  /* transition: 0.5s; */
}

/* movement animations for playerscout */
.transL {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transR {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transU {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(0, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transUR {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transUL {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transD {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(0, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDR {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDL {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

/* movement animations for player tank */
.transLTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transRTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transUTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(0, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transURTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transULTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transDTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(0, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDRTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDLTank {
  width: 50px;
  height: 50px;
  border: solid rgb(252, 8, 8) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(252, 8, 8);
  transition: 0.5s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

/* movement animations for computer scout */
.transLCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(-54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transRCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transUCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(0, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transURCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transULCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 0.5s forwards; */
}

.transDCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(0, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDRCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

.transDLCS {
  width: 50px;
  height: 50px;
  border: solid rgb(8, 130, 252) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(8, 130, 252);
  transition: 0.5s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 0.5s forwards; */
  z-index: 1;
}

#restartDiv {
  position: fixed;
  /* position: absolute; */
  top: 275px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  display: none;
}

#restartButton {
  padding: 25px;
  background-image: url(/images/camo.jpg);
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .mainButton {
    font-size: 20px;
  }

  #restartButton {
    font-size: 20px;
  }
}
