@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.headings {
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  background-color: #2196f320;
  height: 50px;
  width: 540px;
  margin: 10px auto;
  border-radius: 5px;
}

#headingsText {
  text-align: center;
  padding: 10px

}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: auto;
  /* background-color: #ccffcc; */
}

.square {
  width: 50px;
  height: 50px;
  /* border: solid white 1px; */
  border: solid #ccffcc 1px;
  background-color: #ccffcc;
  margin: 1px;
  border-radius: 3px;
  /* transition: 1s; */
  cursor: "";
}

.squareNoT {
  width: 50px;
  height: 50px;
  /* border: solid black 1px; */
  border: solid #ccffcc 1px;
  background-color: #ccffcc;
  margin: 1px;
  border-radius: 3px;
  /* transition: 1s; */
}

.nearBy {
  width: 50px;
  height: 50px;
  /* border: solid black 1px; */
  border: solid #ccffcc 1px;
  background-color: #ccffcc;
  opacity: 0.5;
  margin: 1px;
  border-radius: 3px;
}

.square:hover {
  background-color: bisque;
}

.clicked {
  width: 50px;
  height: 50px;
  border: solid black 1px;
  margin: 1px;
  border-radius: 3px;
  background-color: bisque;
}

.placedTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  /* transition: 1s; */
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
}

.placedScout {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  /* transition: 1s; */
  /* transform: translate(54px, 54px); */
}

.computerTank {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  /* transition: 1s; */
  cursor: "";
}

.computerScout {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  /* transition: 1s; */
}

.explosionHit {
  background: url(images/explosion.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
}

.explosionMiss {
  background: url(images/explosion.png);
  background-size: contain;
  background-color: #ccffcc;
  /* transition: 1s; */
}

/* movement animations for playerscout */
.transL {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px);
  /* animation: left-to-right 1s forwards; */
}

.transR {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transU {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(0, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transUR {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transUL {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transD {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(0, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDR {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDL {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

/* movement animations for player tank */
.transLTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px);
  /* animation: left-to-right 1s forwards; */
}

.transRTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transUTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(0, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transURTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transULTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transDTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(0, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDRTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDLTank {
  width: 50px;
  height: 50px;
  border: solid rgb(211, 13, 129) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/Artillery-Gun-Silhouette.png);
  background-size: contain;
  background-color: rgb(211, 13, 129);
  transition: 1s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

/* movement animations for computer scout */
.transLCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(-54px);
  /* animation: left-to-right 1s forwards; */
}

.transRCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transUCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(0, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transURCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(54px, -54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transULCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(-54px, -54px);
  /* animation: left-to-right 1s forwards; */
}

.transDCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(0, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDRCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

.transDLCS {
  width: 50px;
  height: 50px;
  border: solid rgb(36, 72, 231) 1px;
  margin: 1px;
  border-radius: 3px;
  background: url(images/scout.png);
  background-size: contain;
  background-color: rgb(36, 72, 231);
  transition: 1s;
  transform: translate(-54px, 54px);
  /* animation: left-to-right 1s forwards; */
  z-index: 1;
}

/* @keyframes left-to-right {
  100% {
    transform: translateX(-100%);
  }
} */

#announce {
  color: rgb(36, 72, 231);
}

#announceTwo {
  color: rgb(36, 72, 231);
}

#announceThree {
  color: rgb(211, 13, 129);
}

#announceFour {
  color: rgb(211, 13, 129);
}
